*{
    margin: 0;
    padding: 0;
    font-size:10px;
    cursor:pointer;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:  hsl(214, 17%, 92%);
}
.contanier{
    color: white;
    width: 80vw;
    height: 70vh;
    display: grid;
    grid-template: 
    "b1 b1 b2 b5" 49.5%
    "b3 b4 b4 b5" 50%
    /[col-start] 1fr [col-1] 1fr [col-2] 1fr [col-3] 1fr [col-end]
    ;
    gap: 2%;
}
div{
    
}
.box{
    padding: 20px;
}

.profile{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: xx-large;
    margin-bottom: 10px;
    cursor: pointer;
}

img{
    width: 35px;
    border-radius: 50%;
}

.box1{
    grid-area: b1;
    background-color: hsl(263, 55%, 52%);
}

.box2{
    grid-area: b2;
    background-color: hsl(217, 19%, 35%);
}

.box3{
    grid-area: b3;
    background-color: white;
    color: black;
}

.box4{
    grid-area: b4;
    background-color: black;
}

.box5{
    grid-area: b5;
    background-color: white;
    color: black;
}
.box5 p{
    font-size: 10px;
}

.paragraphpartone{
    font-weight: 900;
    margin-bottom: 7px;
}
.lightcolorparagraph{
    color: hsl(0, 0%, 81%); 
}
.lightcolorparagraph35{
    color: hsl(224, 10%, 45%);
}


.attribution{
    
}


.profile img:hover{
    transform: scale(1.5);
    
}
.profile p:hover{
    transform: scale(1.1);
}

.desingby{
    color: rgb(44, 144, 191);
    background-color: rgb(245, 230, 16);
}

.desingby:hover{
    font-size: x-large;
}

/* for mobail display */

@media(max-width : 375px){
    body{
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .contanier{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
        row-gap: 20px;
        margin-top: 5px;
        order: 1;
    }
    .box{
        border-radius: 10px;
    }
    
    .attribution{
        position: relative;
        bottom: -30px;
        order: 2;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }
}
